Django==3.2.3
argparse==1.4.0
django-appconf==1.0.4
django-compressor==2.4.1
django-debug-toolbar==3.2.1
lesscpy==0.14.0
ply==3.11
psycopg2==2.8.6
rcssmin==1.0.6
rjsmin==1.1.0
six==1.16.0
uwsgidecorators-fallback==0.0.3
wsgiref==0.1.2
